.submenu {
  z-index: 1000;
  &.submenu-s {
    max-width: 12rem;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: var(--radius);
    transition: all 250ms ease-in-out;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
    .submenu-list {
      background-color: rgba($color: #fff, $alpha: 0.75);
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      li {
        padding: 0;
        a {
          height: 3rem;
        }
      }
    }
  }
}

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
