.hero {
  height: 80vh;
  margin-bottom: 12rem;
  position: relative;
  .background {
    z-index: 0;
    height: 100%;
    position: relative;

    img {
      filter: grayscale(100%);
      filter: brightness(0.8);
    }
  }
}
