.menu {
  background-color: rgba($color: #fff, $alpha: 0.75);
  position: fixed;

  transition: all 200ms ease-out;
  height: calc(100% - 144px);
  top: 60px;
  transform: translateY(-100%);
  width: 100%;
  z-index: 500;
  margin-bottom: 0;
  will-change: transform;

  &.show {
    background-color: rgba($color: #fff, $alpha: 1);

    ul {
      background-color: rgba($color: #fff, $alpha: 1);
      margin-bottom: 0;

      a {
        visibility: visible;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .menu-btn {
        visibility: visible;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding: 1rem 1.5rem;
      cursor: pointer;
      position: relative;
      div {
        display: flex;
        justify-content: space-between;
        align-self: center;
        a {
          color: var(--textColor);
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .menu-btn {
        visibility: hidden;
        cursor: pointer;
        color: var(--white);
        font-weight: 700;
        background: var(--baby-blue);
        border: transparent;
        border-radius: var(--borderRadius);
        letter-spacing: var(--letterSpacing);
        padding: 0.375rem 0.75rem;
        box-shadow: var(--shadow-1);
        transition: all 100ms ease-out;
        text-transform: uppercase;
        display: inline-block;
      }
      .menu-btn:hover {
        background: var(--primary-700);
        box-shadow: var(--shadow-3);
        color: var(--white);
        font-weight: 700;
      }
    }

    .initial {
      color: var(--textColor);
      transform: none;

      @keyframes icon {
        0% {
          color: var(--grey-400);
        }

        100% {
          transform: rotateZ(-90deg);
          color: var(--grey-400);
        }
      }

      &.rotate {
        animation: icon 250ms ease-in-out forwards;
      }
    }
  }
}
