.menu {
  background-color: rgba($color: #fff, $alpha: 0.75);
  position: fixed;
  visibility: hidden;
  transition: all 500ms ease-out;

  width: 100%;
  z-index: 500;
  height: 100%;

  &.show {
    visibility: visible;
    background-color: rgba($color: #fff, $alpha: 1);
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding: 1rem 1.5rem;
      cursor: pointer;
      position: relative;
      div {
        display: flex;
        justify-content: space-between;
        align-self: center;
        a {
          color: var(--textColor);
        }
      }
    }

    .initial {
      color: var(--textColor);
      transform: none;

      @keyframes icon {
        0% {
          color: var(--grey-400);
        }

        100% {
          transform: rotateZ(-90deg);
          color: var(--grey-400);
        }
      }

      &.rotate {
        animation: icon 250ms ease-in-out forwards;
      }
    }
  }
}
