.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 10rem;
}

.anchor {
  display: block;
  visibility: hidden;
  position: absolute;
  top: -100px;

  @media screen and (max-width: 1000px) {
    top: -50px;
  }
}
