.kontakt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 100px);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
