.kontakt {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 'z z' 'a b' 'c c';
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    padding: 15rem 0;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      grid-area: z;
    }

    .info {
      justify-self: start;
      grid-area: a;

      @media screen and (max-width: 1000px) {
        align-self: flex-start;
      }
    }

    .map {
      grid-area: b;
      @media screen and (max-width: 1000px) {
        align-self: center;
      }
    }

    .form {
      grid-area: c;
      justify-self: center;
      position: relative;
    }
  }
}

.anchor {
  display: block;
  visibility: hidden;
  position: absolute;
  top: -120px;

  @media screen and (max-width: 1000px) {
    top: -50px;
  }
}
