.kontakt {
  display: flex;

  justify-content: center;
  width: 1000px;
  min-height: 100vh;

  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    width: 90vh;
  }

  @media screen and (max-width: 550px) {
    width: 400px;
  }

  @media screen and (max-width: 450px) {
    width: 350px;
  }

  @media screen and (max-width: 350px) {
    width: 200px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 'z z' 'a b' 'c c';
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 10rem;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
    }

    @media screen and (max-width: 470px) {
      margin-top: 4rem;
    }

    .title {
      grid-area: z;
    }

    .info {
      justify-self: start;
      grid-area: a;

      @media screen and (max-width: 1000px) {
        align-self: flex-start;
      }
    }

    .map {
      grid-area: b;
      @media screen and (max-width: 1000px) {
        align-self: center;
      }
    }

    .form {
      grid-area: c;
      justify-self: center;
      position: relative;
    }
  }
}

.anchor {
  display: block;
  visibility: hidden;
  position: absolute;
  top: -120px;

  @media screen and (max-width: 1000px) {
    top: -50px;
  }
}
