.outer-section {
  display: flex;

  justify-content: center;
  width: 1000px;
  min-height: 100vh;

  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 1150px) {
    width: 700px;
  }

  @media screen and (max-width: 850px) {
    width: 400px;
  }

  @media screen and (max-width: 450px) {
    width: 350px;
  }

  @media screen and (max-width: 380px) {
    width: 270px;
  }

  .section {
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 10rem;
  }
}
